html
  head
    title 404 Not Found
  body
    center
      h1 404 Not Found
    hr
    center nginx/1.17.7
// a padding to disable MSIE and Chrome friendly error page 
// a padding to disable MSIE and Chrome friendly error page 
// a padding to disable MSIE and Chrome friendly error page 
// a padding to disable MSIE and Chrome friendly error page 
// a padding to disable MSIE and Chrome friendly error page 
// a padding to disable MSIE and Chrome friendly error page 
